<html>

<head>
    <title>FastScan PlayGround</title>
    <link rel="stylesheet" href="static/ele.css" />
    <script src="static/vue.js"></script>
    <script src="static/ele.js"></script>
    <script src="static/d3.js"></script>
    <script src="index.js"></script>
</head>

<body>
    <div id="app">
        <el-container>
            <el-main>
                <el-row :gutter="20">
                    <el-col :span="6">
                        <el-card class="box-card">
                            <el-input type="textarea" :rows="20" placeholder="请输入词汇列表，用逗号分割" v-model="words">
                            </el-input>
                        </el-card>
                        <el-card class="box-card">
                            <img src="images/qrcode.jpg" class="image" />
                            <div style="text-align:center">
                                <span>微信扫一扫关注「码洞」</span>
                            </div>
                        </el-card>
                    </el-col>
                    <el-col :span="8">
                        <el-card class="box-card">
                            <el-input type="textarea" :rows="16" placeholder="请输入内容" v-model="content">
                            </el-input>
                        </el-card>
                        <el-card class="box-card">
                            <div slot="header" class="clearfix">
                                <span>敏感词命中次数</span>
                            </div>
                            <el-badge :value="count" class="item" v-for="(count, word) in hits" :key="word">
                                <el-button size="small">{{ word }}</el-button>
                            </el-badge>
                        </el-card>
                        <el-card class="box-card">
                            <div slot="header" class="clearfix">
                                <span>所有位置的敏感词</span>
                            </div>
                            <el-badge :value="item[0]" class="item" v-for="(item, index) in offsets" :key="index">
                                <el-button size="small">{{ item[1] }}</el-button>
                            </el-badge>
                        </el-card>
                    </el-col>
                    <el-col :span="10">
                        <svg class="canvas">
                            <marker id="arrow" markerWidth="8" markerHeight="4" refX="0" refY="2" orient="auto">
                                <path d="M 0 0 4 2 0 4" style="fill:none; stroke: #555;" />
                            </marker>
                            <g class="links">

                            </g>
                            <g class="backs">

                            </g>
                            <g class="texts">

                            </g>
                            <g class="nodes">

                            </g>
                        </svg>
                    </el-col>
                </el-row>
            </el-main>
        </el-container>
        <a href="https://github.com/pyloque/fastscan">
            <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"
                alt="Fork me on GitHub">
        </a>
    </div>
    <style>
        .item {
            margin-top: 10px;
            margin-right: 40px;
        }

        .image {
            width: 100%;
            max-width: 200px;
            margin: 0 auto;
            display: block;
        }

        .clearfix:before,
        .clearfix:after {
            display: table;
            content: "";
        }

        .clearfix:after {
            clear: both
        }

        .canvas {
            width: 100%;
            height: 1000px;
        }
    </style>
    <script>
        var scanner = null
        new Vue({
            el: '#app',
            data: function () {
                return {
                    words: '法轮功,李洪志,习近平,江泽民,胡锦涛,李克强,毛泽东,法轮,法轮大法,自由门,翻墙,八九学潮,天安门,人权,温家宝,共产党,退党,美国之音,CNN,洪志,泽民,泽东,锦涛,克强,学潮,abcdef',
                    content: '1995年中共执政当局开始寻求强化法轮功的组织构架及与政府的关系。 中国政府的国家体委、公共健康部和气功科研会，访问李洪志，要求联合成立法轮功协会，但李洪志表示拒绝。 同年，气功科研会通过一项新规定，命令所有气功分会必须建立中国共产党党支部，但李洪志再次表示拒绝。 李洪志与中国气功科研会的关系在1996年持续恶化。 1996 年3月，法轮功因拒不接受中国气功协会新负责人在“气功团体内部收取会员费创收”和“成立中国共产党党支部组织”的要求， 主动申请退出中国气功协会和中国 气功科研会, 以独立非政府形式运作。 自此，李洪志及其法轮功脱离了中国气功协会中的人脉和利益交换，同时失去了功派在中国政府体制系统的保护。法轮功申请退出中国气功协会，是与中国政府对气功的态度产生变化相对应的；当时随气功激进反对者在政府部门中的影响力增加，中国政府开始控制和影响各气功组织。90年代中期，中国政府主管的媒体开始发表文章批评气功。 法轮功起初并没有受批评，但在1996年3月退出中国气功协会后，失去了政府体制的保护。',
                    hits: [],
                    offsets: [],
                }
            },
            watch: {
                words: function () {
                    this.rebuild()
                    console.log(scanner.root)
                    this.research()
                    this.redraw()
                },
                content: function () {
                    this.research()
                }
            },
            mounted: function () {
                this.rebuild()
                this.research()
                this.redraw()
            },
            methods: {
                rebuild: function () {
                    var words = this.words.replace('，', ',').replace('\\n', ',').split(',')
                    words = words.map(function (word) {
                        return word.trim()
                    }).filter(function (word) {
                        return word.length > 0
                    })
                    scanner = new FastScanner(words)
                },
                research: function () {
                    this.hits = scanner.hits(this.content)
                    this.offsets = scanner.search(this.content)
                },
                redraw() {
                    var expands = [scanner.root]
                    var nid = 0
                    while (expands.length > 0) {
                        var nextExpands = []
                        for (var i = 0; i < expands.length; i++) {
                            var current = expands[i]
                            current.id = nid++
                            current.name = current.val
                            if (current.parent && current.parent.name) {
                                current.name = current.parent.name + current.val
                            }
                            var children = []
                            var next = current.next
                            for (var k in next) {
                                nextExpands.push(next[k])
                                children.push(next[k])
                            }
                            current.children = children
                        }
                        expands = nextExpands
                    }

                    var svg = d3.select('svg.canvas')
                    var svgNodes = svg.select('g.nodes')
                    var svgLinks = svg.select('g.links')
                    var svgTexts = svg.select('g.texts')
                    var svgBacks = svg.select('g.backs')
                    svgNodes.html('')
                    svgLinks.html('')
                    svgTexts.html('')
                    svgBacks.html('')
                    svgNodes.attr('transform', 'translate(20, 20)')
                    svgLinks.attr('transform', 'translate(20, 20)')
                    svgTexts.attr('transform', 'translate(20, 20)')
                    svgBacks.attr('transform', 'translate(20, 20)')

                    var box = {
                        width: 1000,
                        height: 1000
                    }
                    svg.attr('viewbox', '0,0,' + box.width + ',' + box.height)

                    var zoom = d3.zoom()
                        .scaleExtent([0.1, 100])
                        .on('zoom', function () {
                            svg.selectAll('g').attr('transform', d3.event.transform)
                        })
                    svg.call(zoom)

                    var root = d3.hierarchy(scanner.root)
                    var tree = d3.tree().size([box.width - 40, box.height - 40])
                    tree(root)
                    var nodes = root.descendants()
                    var links = nodes.slice(1)

                    svgNodes.selectAll('circle')
                        .data(nodes)
                        .enter()
                        .append('circle')
                        .attr('r', 10)
                        .attr('fill', function (d) {
                            if (d.data.accept) {
                                return 'violet'
                            } else {
                                return 'white'
                            }
                        })
                        .attr('stroke-width', '1')
                        .attr('stroke', 'violet')
                        .attr('cx', function (d) {
                            return d.y
                        })
                        .attr('cy', function (d) {
                            return d.x
                        })

                    svgTexts.selectAll('text')
                        .data(nodes)
                        .enter()
                        .append('text')
                        .attr('font-size', '10px')
                        .attr('x', function (d) {
                            return d.y - 20
                        })
                        .attr('y', function (d) {
                            return d.x - 10
                        })
                        .text(function (d) {
                            if (d.data.accept) {
                                return d.data.name
                            } else {
                                return d.data.val
                            }
                        })

                    svgLinks.selectAll('path')
                        .data(links)
                        .enter()
                        .append('path')
                        .attr('fill', 'none')
                        .attr('stroke-width', '2')
                        .attr('stroke-opacity', '0.4')
                        .attr('stroke', '#555')
                        .attr('d', function (d) {
                            var source = d.parent
                            var target = d
                            return "M" + source.y + "," + source.x
                                + "C" + (source.y + target.y) / 2 + "," + source.x
                                + " " + (source.y + target.y) / 2 + "," + target.x
                                + " " + target.y + "," + target.x;
                        })

                    var expands = [root]
                    var dataMap = {}
                    var backs = []
                    while (expands.length > 0) {
                        var nextExpands = []
                        for (var i = 0; i < expands.length; i++) {
                            var current = expands[i]
                            var children = current.children
                            if (!children) {
                                continue
                            }
                            for (var k = 0; k < children.length; k++) {
                                var child = children[k]
                                nextExpands.push(child)
                                dataMap[child.data.id] = child
                                if (child.data.back && child.data.back != scanner.root) {
                                    child.back = dataMap[child.data.back.id]
                                    backs.push(child)
                                }
                            }
                        }
                        expands = nextExpands
                    }

                    svgBacks.selectAll('path')
                        .data(backs)
                        .enter()
                        .append('path')
                        .attr('fill', 'none')
                        .attr('marker-mid', 'url(#arrow)')
                        .attr('stroke-width', '2')
                        .attr('stroke-opacity', '0.4')
                        .attr('stroke', 'green')
                        .attr('stroke-dasharray', '5,5')
                        .attr('d', function (d) {
                            var source = d
                            var target = d.back
                            return "M" + source.y + "," + source.x
                                + "C" + (source.y + target.y) / 2 + "," + source.x
                                + " " + (source.y + target.y) / 2 + "," + target.x
                                + " " + target.y + "," + target.x;
                        })
                }
            }
        })
    </script>
</body>

</html>